{% extends "@App/base_layout.html.twig" %}

{% block extraCss %}
    input[type="radio"] {
    display: none !important;
    }

    #user_avatar label {
    opacity: 0.5;
    }

    #user_avatar_0:checked + label, #user_avatar_1:checked + label, #user_avatar_2:checked + label, #user_avatar_3:checked + label, #user_avatar_4:checked + label, #user_avatar_5:checked + label, #user_avatar_6:checked + label, #user_avatar_7:checked + label, #user_avatar_8:checked + label {
    opacity: 1;
    }

    label {
    cursor: pointer;
    }
{% endblock %}

{% form_theme form _self %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><img class="ui circular image" src="{{ asset('images/avatar/') }}{{ id|last }}.jpg">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label>
    {%- endif -%}
{%- endblock form_label -%}

{% block content %}
    <div class="ui center aligned segment">
        <div class="ui center aligned grid">
            <div class="ui six wide column">
                <h2 class="ui blue image header">
                    <img src="{{ asset('images/logo.png') }}" class="image">
                    <div class="content">
                        {% trans %}Complete your registration{% endtrans %}
                    </div>
                </h2>
                {{ form_start(form, {'attr': {'class': 'ui large form'}}) }}
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                {{ form_widget(form.username) }}
                            </div>
                            {{ form_errors(form.username) }}
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                {{ form_widget(form.plainPassword.first) }}
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                {{ form_row(form.plainPassword.second) }}
                            </div>
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                {{ form_widget(form.email) }}
                            </div>
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="ui segment">
                            <div class="ui tiny images">
                                {{ form_widget(form.avatar) }}
                            </div>

                        </div>
                        {{ form_errors(form.avatar) }}
                        <input type="submit" class="ui fluid large blue submit button" value="{% trans %}Register{% endtrans %}">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
