{% extends "@App/base_layout.html.twig" %}

{% set active_item = 'driver_statistics' %}

{% block content %}
    <table class="ui celled left aligned table">
        <thead class="center aligned">
        <tr>
            <th>Kierowca</th>
            <th>Spalone paliwo</th>
            <th>Przebyty dystans</th>
            <th>Wykonanych zleceń</th>
            <th>Zarobionych pieniędzy</th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="{{ asset('images/avatar/') }}{{ user.avatar }}.jpg" class="ui mini rounded image">
                        <div class="content">
                            {{ user.username|capitalize }}
                            <div class="sub header">{{ user.roles|join("")|trans }}
                            </div>
                    </h4>
                </td>
                <td><i class="lightning icon"></i> {{ user.fuelBurned|number_format(0, '', ' ') }} L</td>
                <td><i class="road icon"></i> {{ user.distanceTravelled|number_format(0, '', ' ') }} KM</td>
                <td><i class="cubes icon"></i> {{ user.transportsMaded }}</td>
                <td><i class="money icon"></i> {{ user.moneyEarned|number_format(2, ',', ' ') }} PLN</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}