{% extends "@App/base_layout.html.twig" %}

{% block navbar %}
  <div class="ui blue inverted menu">
    <a class="item" href="{{ path('home') }}"><i class="suitcase icon"></i>{% trans %}Driver card{% endtrans %}</a>
    <a class="item" href="newTransport.php"><i class="add square icon"></i>{% trans %}Report new transport{% endtrans %}</a>
    <a class="item" href="myTransports.php"><i class="cube icon"></i>{% trans %}Your transports{% endtrans %}</a>
    <a class="item" href="listDrivers.php"><i class="world icon"></i>{% trans %}List of drivers{% endtrans %}</a>
    <a class="item" href="statsDrivers.php"><i class="area chart icon"></i>{% trans %}Driver statistics{% endtrans %}</a>
    <div class="right menu">
      <div class="ui dropdown item">
        <i class="user icon"></i>{% trans %}Hello,{% endtrans %} {{ app.user.username|capitalize }}<i class="dropdown icon"></i>
        <div class="ui menu">
          <a class="active item" href="{{ path('profile') }}"></i>{% trans %}Show profile{% endtrans %}</a>
          <div class="ui divider"></div>
          <a class="item" href="{{ path('employee_add') }}"></i>{% trans %}Add employee{% endtrans %}</a>
          <a class="item" href=""></i>{% trans %}Browse transports{% endtrans %}</a>
          <a class="item" href=""></i>{% trans %}Browse employees{% endtrans %}</a>
          <div class="ui divider"></div>
          <a class="item" href="{{ path('logout') }}">{% trans %}Sign out{% endtrans %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="ui grid">
    <div class="six wide column">
      <h2 class="ui blue header">{{ app.user.username|capitalize }}</h2>
      <center><img class="ui medium circular image" src="{{ asset('images/avatar/') }}{{ app.user.avatar }}.jpg"></center>
    </div>
    <div class="ten wide left aligned column">
      <h2 class="ui blue header">{% trans %}Your data{% endtrans %}: </h2>
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Login: </label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" value="{{ app.user.username }}" disabled>
            </div>

          </div>
          <div class="field">
            <label>{% trans %}Password{% endtrans %}: </label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" value="EasterEgg" disabled>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>{% trans %}Email{% endtrans %}: </label>
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" value="{{ app.user.email }}" disabled>
            </div>
          </div>
          <div class="field">
            <label>{% trans %}Position{% endtrans %}: </label>
            <div class="ui left icon input">
              <i class="star icon"></i>

              <input type="text" value="{{ role|trans }}" disabled>
            </div>
          </div>
        </div>
        <a class="ui blue large button" href=""><i class="lock icon"></i>{% trans %}Change password{% endtrans %}</a>
        <a class="ui blue large disabled button"><i class="mail icon"></i>{% trans %}Change email{% endtrans %}</a>
        <a class="ui blue large button" href=""><i class="adjust icon"></i>{% trans %}Change avatar{% endtrans %}</a>
      </div>
    </div>
  </div>
{% endblock %}