{% extends "@App/base_layout.html.twig" %}

{% form_theme form '@App/form/fields.html.twig' %}

{% set active_item = 'add_employee' %}

{% block content %}
  <div class="ui center aligned grid">
    <div class="six wide column">
      <h1 class="ui blue image header">
        <i class="blue square add icon"></i>
        <div class="content">
          {% trans %}Adding an employee{% endtrans %}
        </div>
      </h1>

      <div class="ui stacked segment">
        {{ form_start(form, {'attr': {'class': 'ui large form'}}) }}
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              {{ form_row(form.email) }}
            </div>
          </div>
          <div class="field">
            <div class="ui selection dropdown">
              {{ form_row(form.role) }}
              <i class="dropdown icon"></i>
              <div class="default text">{% trans %}Position{% endtrans %} </div>
              <div class="menu">
                <div class="item">{% trans %}Boss{% endtrans %}</div>
                <div class="item">{% trans %}Vice Boss{% endtrans %}</div>
                <div class="item">{% trans %}Dispatcher{% endtrans %}</div>
                <div class="item">{% trans %}Driver{% endtrans %}</div>
                <div class="item">{% trans %}Demo{% endtrans %}</div>
              </div>
            </div>
          </div>
          {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="ui positive message">
              {{ flash_message|trans }}
            </div>
          {% endfor %}
          <input type="submit" value="{% trans %}Add employee{% endtrans %}" class="ui blue fluid large button">
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}

